[Unit]
Description=SUMA Jobchecker
After=taskomatic.service
Requires=taskomatic.service

[Service]
Type=simple
Environment="SUMAKEY=R2bfp223Qsk-pX970Jw8tyJUChT4-e2J8anZ4G4n4IM="
Restart=always
ExecStart=/usr/bin/python3.6 /usr/local/bin/suma_jobcheck.py

[Install]
WantedBy=multi-user.target